html {
    height: 100%;
}

@font-face {
    src: url(fonts/Karma\ Future.otf);
    font-family: Karma;
}

::selection {
    background:rgb(130, 111, 184);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }


body{
    
    margin: 0;
    padding: 0;
    margin-top: 0x;
    background-color: rgb(0, 8, 18);
    font-family: VT323;

}

h2{
    text-align: center;
    color: rgb(215, 35, 183);
    font-family: VT323;
    font-size: 45px;
    margin: 5px;
}

h3 {
    color: rgb(5, 208, 222);
    font-family: VT323;
    font-size: 40px;
    margin: 0px;
    text-align: center;
    padding: 5px;
    
}

.title {
    background-color: rgb(0, 8, 18);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    font-size: 40px;
    text-align:center;

    border: 2px solid rgb(130, 111, 184);

}

h1{
    text-align: center; 
    color: rgb(245, 40, 105);
    font-family: Karma;
    font-size: 90px;
    margin: 5px;
    /* position: absolute; */
    /* top: -50px; */
    
}

.directory {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;

    border: 2px solid rgb(130, 111, 184);
}

.footer {
    background-color: rgb(0, 8, 18);
    position: absolute;
    right: 0;
    left: 0; 

}

.footer a {
    margin-right: 10px;
    text-align: right;
    font-size: 25px;
    color: rgb(87, 142, 150)
}

p {
    text-align: left;
    margin: auto;
    padding: 0px;
    font-size: 25px;
    color: rgb(5, 208, 222)
    
}

.blog {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;

    border: 2px solid rgb(130, 111, 184);
}

img {
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(5, 208, 222);
    position: relative;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 2px solid rgb(130, 111, 184);
    font-size: 20px;
    font-family: VT323;
    color: rgb(5, 208, 222);
    margin-top: -40px;
    margin-left: 5px;
    position: absolute;
}


  