@font-face {
    src: url(fonts/Karma\ Future.otf);
    font-family: Karma;
}

::selection {
    background:rgb(130, 111, 184);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

body{
    
    margin: 0;
    padding: 0;
    margin-top: 0x;
    background-color: rgb(0, 8, 18);
    font-family: VT323;

}

h1{
    text-align: center;
    color: rgb(245, 40, 105);
    font-family: VT323;
    font-size: 60px;
    margin: 5px;
}

h2{
    text-align: center;
    color: rgb(215, 35, 183);
    font-family: VT323;
    font-size: 50px;
    margin: 5px;
}

h3 {
    color: rgb(5, 208, 222);
    font-family: VT323;
    font-size: 40px;
    margin: 0px;
    margin-left: 20px;
    padding: 5px;
    text-align: left;
    
}

.tableOfContents {
    background-color: rgb(0, 8, 18);
    width: 1000px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    margin-bottom: 10px;
    font-size: 30px;
    text-align:center;
    border: 2px solid rgb(130, 111, 184);
}

.tableOfContents ul {
    color:rgb(201, 238, 245); 
    padding-left: 0;
    list-style-position: inside;
    list-style: none;
}

.tableOfContents ul li {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;;
    font-size: 30px;
}

ul {
    color:rgb(201, 238, 245);
    padding-left: 0;
    margin-left: 20px;
    list-style-position: inside;
}

li {
   
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 0px;
    font-size: 25px;
    color: rgb(201, 238, 245);
    list-style: none;
    text-align: left;



}

p {
    color:rgb(201, 238, 245); 
    font-size: 30px;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

.favoriteBooks {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    border: 2px solid rgb(130, 111, 184);
}

a {
    text-decoration: none;
    color: rgb(201, 238, 245);
}

#title {
    font-size: 30px;
    font-family: Karma;
    position: absolute;
    margin-top: -45px;
    margin-left: 5px;
}