@font-face {
    src: url(fonts/Karma\ Future.otf);
    font-family: Karma;
}

::selection {
    background:rgb(169, 220, 118);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

body{
    
    margin: 0;
    padding: 0;
    margin-top: 0x;
    background-color: rgb(45, 42, 46);
    font-family: VT323;

}

h1{
    text-align: center; 
    color: rgb(87, 142, 150);
    font-family: Karma;
    position: relative;
    top: -50px;
    
}

h2{
    text-align: center;
    color: rgb(87, 142, 150);
    font-family: VT323;
    font-size: 50px;
    margin: 5px;
}

h3 {
    color: rgb(87, 142, 150);
    font-family: VT323;
    font-size: 30px;
    margin: 0px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    
}

p {
    text-align: left;
    margin-top: 10px;
    padding: 0px;
    font-size: 25px;
    color: rgb(87, 142, 150)
    
}

img {
    margin: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(87, 142, 150);
    position: relative;
    
}

.blogContainer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;

    border: 2px solid rgb(169, 220, 118);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    width: 970px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    border: 1px solid rgb(252, 152, 103);
}