@font-face {
    src: url(fonts/Karma\ Future.otf);
    font-family: Karma;
}

::selection {
    background:rgb(130, 111, 184);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

body{
    
    margin: 0;
    padding: 0;
    margin-top: 0x;
    background-color: rgb(0, 8, 18);
    font-family: VT323;

}

h1{
    text-align: center; 
    color: rgb(245, 40, 105);
    font-family: Karma;
    position: relative;
    top: -50px;
    
}

h2{
    text-align: center;
    color: rgb(245, 40, 105);
    font-family: VT323;
    font-size: 50px;
    margin: 5px;
}

h3 {
    color: rgb(5, 208, 222);
    font-family: VT323;
    font-size: 30px;
    margin: 0px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
    
}

p {
    text-align: left;
    margin-top: 10px;
    padding: 0px;
    font-size: 25px;
    color: rgb(245, 40, 105);
    
}

img {
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(201, 238, 245);
    position: relative;
    
}

.bang1 {
    position: relative;
    top: 0;
    left: 0;
}

.bang2 {
        position: absolute;
        top: 360px;
        left: 430px;
}

.bang3 {
    position: absolute;
        top: 60px;
        left: 430px;
}

.blogContainer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;

    border: 2px solid rgb(130, 111, 184);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    position: relative;
    width: 970px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 25px;

    border: 1px solid rgb(215, 35, 183);
}

a:visited {
    color: rgb(201, 238, 245);
}

#title {
    font-size: 30px;
    position: absolute;
    margin-top: -35px;
    margin-left: 5px;
    text-decoration: none;
    font-family: Karma;
}

video {
    margin: 15px;
    border-style: solid;
    border-color: rgb(201, 238, 245);
    border-width: 2px;
}
