@font-face {
    src: url(fonts/Karma\ Future.otf);
    font-family: Karma;
}

::selection {
    background:rgb(169, 220, 118);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

/* .homelink {
     background-color: rgb(45, 42, 46);
    width: 1000px;
    height: 100px;
    margin-left: 0px;
    margin-top: 30px; 
    font-size: 40px;
    text-align:left;
    border: 2px solid rgb(169, 220, 118); 

} */

body{
    
    margin: 0;
    padding: 0;
    margin-top: 0x;
    background-color: rgb(45, 42, 46);
    font-family: VT323;

}

#title {
    font-size: 30px;
    position: absolute;
    margin-top: -45px;
    margin-left: 5px;
    text-decoration: none;
    font-family: Karma;
}

a:visited {
    color: rgb(87, 142, 150);
}

h1{
    text-align: center;
    color: rgb(87, 142, 150);
    font-family: VT323;
    font-size: 60px;
    margin: 5px;
}

h2{
    text-align: center;
    color: rgb(87, 142, 150);
    font-family: VT323;
    font-size: 50px;
    margin: 5px;
}

h3 {
    color: rgb(87, 142, 150);
    font-family: VT323;
    font-size: 40px;
    margin: 0px;
    margin-left: 20px;
    padding: 5px;
    
}

.crochetTitle p {
    color:rgb(87, 142, 150); 
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
}

p {
    color:rgb(87, 142, 150); 
    font-size: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    margin: 0;
}

.crochetTitle {
    background-color: rgb(45, 42, 46);
    width: 1000px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    margin-bottom: 10px;
    font-size: 30px;
    text-align:center;
    border: 2px solid rgb(169, 220, 118);
}

.projects {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    border: 2px solid rgb(169, 220, 118);
}

img {
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(252, 152, 103);
    position: relative;

}

/* img:hover{
    transform: scale(1.02);
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}